[2019-08-12 23:05] hthetiot opened #4 "Change of LICENSE"
Investigate change of License

- https://softwareengineering.stackexchange.com/questions/240612/forking-bsd-project-and-changing-license

Current License file:
- https://github.com/open-easyrtc/open-easyrtc/blob/master/LICENSE

[2019-08-12 23:11] hthetiot opened #5 "Fix knows vulnerabilities (4 low, 5 moderate, 56 high)"
- [x] Use npm instead of bower
- [x]  65 vulnerabilities (4 low, 5 moderate, 56 high)

[2019-08-13 00:03] #5 closed

[2019-08-13 00:26] hthetiot opened #6 "Open-EasyRTC aka EasyRTC Free of Priologic"
Fork Location and Name
--------------------

Mobule name: open-easyrtc
Github URL: https://github.com/open-easyrtc/open-easyrtc
NPM URL: https://www.npmjs.com/package/open-easyrtc

Original Source and Fork intent
--------------------

`open-easyrtc` module is a fork of `easyrtc` hosted on Github originally made by `Priologic Software Inc.` and available here: https://github.com/priologic/easyrtc

[2019-08-13 01:15] hthetiot commented on #6
[code]

<a href="http://www.youtube.com/watch?feature=player_embedded&v9sJUDx7iEJw
" target="_blank"><img src="http://img.youtube.com/vi/9sJUDx7iEJw/0.jpg"
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /></a>

[2019-08-20 16:05] manh-vv commented on #6
I don't know what happen, but I can feel it is not fun right.
Hope to help. I am using this library and found that you have great work. I want to say thank you.

[2019-08-25 10:20] didlie commented on #6
Can we talk?

[2019-08-25 10:24] hthetiot commented on #6
@manh-vv Thank you, Any contributor is welcome.
I think it would be great to find a way to fully change the license even if it require to rewrite the source from original library. Anyway, any PR is welcome.
- https://github.com/open-easyrtc/open-easyrtc/issues/4

@didlie Sure you can contact me at @hthetiot on Twitter or Gmail.com.

[2019-08-25 10:52] didlie opened #7 "Doing Demos"
So, I'm impressed. It works. Demos work. They do something. However, I am unable to locate any details of the WebRTC peer connection. I do not see the pc object, the SDP(local description) remoteDescription, ...nothing that looks like WebRTC. All I see is a socket connection. Please explain whats going on here. You are the genius of this working thing!

[2019-08-25 11:11] didlie commented on #6
@hthetiot sent you an email

[2019-08-25 16:31] didlie opened #8 "Comment regarding STUN server in README recommendation"
I did allot of reading before I was able to answer the basic first questions about internals for this repo. STUN server is not internal: the implementer is expected to use the "most common application" [coturn](https://github.com/coturn/coturn)

[2019-08-25 16:43] didlie opened #9 "eastrtc client API was removed as a doc, or it never existed?"
Totally unable to find any existence of the doc file for the client API... only a reference to it in a file list. I looked for 5 minutes and didn't find it. Any road map?

[2019-08-25 16:50] didlie opened #10 "Code needs to be modular."
There is alot of great code here, but it is so intertwined and could use a much simpler peer object and peer handling object. I don't think the peer objects in easyrtc can be networked economically into a p2p  mesh network, serverless.

[2019-08-25 17:11] hthetiot commented on #7
You did not search well enought please dont spam issues like that.
I replied by email to you.
See Client API here:
- https://github.com/open-easyrtc/open-easyrtc/blob/master/api/easyrtc_int.js

[2019-08-25 17:11] #7 closed

[2019-08-25 17:12] hthetiot commented on #8
RTFM
- https://github.com/open-easyrtc/open-easyrtc/blob/5ea69776f319fab15a784f94db91a2c1f5154ef5/docs/easyrtc_server_ice.md#easyrtc-server-ice-configuration

[2019-08-25 17:12] #8 closed

[2019-08-25 17:13] hthetiot commented on #9
Hey please stop that and look by yourself, you the first one in 3 years having this issue.
This is not a forum here:
- https://github.com/open-easyrtc/open-easyrtc/tree/master/docs/client_html_docs_lite

[2019-08-25 17:13] #9 closed

[2019-08-25 17:14] hthetiot commented on #10
@didlie ok, sorry but you create too much noise, you need to read the fucking manual and code and if you want to contribute make PR, this is not a forum and there is no plan to change the API only maintain it.

I do not use this library myself I only maintain it for existing users.

[2019-08-25 17:14] #10 closed

[2019-09-16 08:34] IRGC opened #12 "[feature request] support for kurento media server?"
can we have support for kurento media server for one to many video,audio stream broadcast within single room?
https://github.com/Kurento/kurento-media-server

[2019-09-16 15:05] chrisdepas commented on #12
Isn't one of the design goals of Kurento is that it is complete?

I.e. The [docs](https://doc-kurento.readthedocs.io/en/6.11.0/user/about.html#kurento-design-principles) say this:

In any case, it supports javascript at the moment, so I don't see why you would go to the trouble of modifying EasyRTC to talk to existing Kurento applications, when you could just use Kurento instead. Is there a partic

[2019-09-17 14:11] hthetiot commented on #12
That as nothing to do with EasyRTC itself.
If you know how to use EasyRTC you can send and intercept SDP and send it to any MCU/SFU.

[2019-09-17 14:11] #12 closed

[2019-09-17 15:57] IRGC commented on #12
@chrisdepas @hthetiot i like easyrtc because it is very easy to use and the room function, if `open-easyrtc` support kurento then i can/others too use it easily , may be i am the voice of many other nOOb developers who is trying to build one to many broadcasting using webrtc technology.

[2019-09-24 20:47] qutran opened #14 "ES modules + rollup"
First of all thank you for the forking this library and making it alive.
I want to propose to refactor the code step-by-step for using with es-modules (https://caniuse.com/#feat=es6-module) and the rollup that has first-class es-modules support.
From my side I want to propose my active support as a contributor for this features. Just share your thoughts about it.

[2019-09-30 21:32] hthetiot commented on #14
I personally don't like or need es module, UMD works great and is cross platform and cross compiler (require.js, Typescript, AMD, ES module) I and as a mater or fact once compiled to es5 es module will do the same.

Owever, if you do a PR I will consider it depending the quality of the improvements it is providing, finally make sure to look at actual grunt build as you may think easyrtc.js is the

[2019-10-18 19:24] kakaroto opened #15 "Default STUN options are invalid"
The default stun options from `lib/easyrtc_default_options.js` have :
[code]
Those are invalid because you use `urls` instead of `url` and since the code in `api/easyrtc.js` does this :
[code]
It will try to process each character as a url which will fail, so the `easyrtc._stunServers` end up being empty.

[2019-10-18 19:28] kakaroto opened #16 "Update urls and documentation"
You have forked easyrtc into open-easyrtc (which is great as it would be a shame to let this library die off), but a lot of stuff still refers to easyrtc, such as the server example which suggets doing `require('easyrtc')` or the `updateCheckEnable` option which makes a version check on "http://easyrtc.com/version/?app=easyrtc" (which btw is a 404).
I'm sure there are other places that need fixing

[2019-10-22 08:30] hthetiot commented on #15
WebRTC adapter should add url from urls but i will fix this bug anyway.
Thank you for report @kakaroto

[2019-10-22 08:35] hthetiot commented on #16
@kakaroto Yes we working on it. Good catch!

[2019-10-22 08:39] hthetiot commented on #16
@kakaroto A lot of documentation have been fixed into #11  Thank to @chrisdepas

[2019-10-22 08:48] hthetiot commented on #15
Fixed by 3d96701c62819aa640b018c5204bdb6d1da60c8e will be released on 2.0.3

[2019-10-22 08:48] #15 closed

[2019-10-22 09:24] hthetiot commented on #16
fixed by e3a235e38ff9a006ee7a2916a8af77084abae8e1

[2019-10-22 09:27] hthetiot commented on #16
fixed by 4476ad817b803257f49440c556f2fcfb4c89befe

[2019-10-22 09:33] hthetiot commented on #16
Closing for now @kakaroto Feel free to continue to report issues, I will try to take care of them.

[2019-10-22 09:33] #16 closed

[2019-10-22 19:34] hthetiot commented on #15
@kakaroto Quick notes.

Before the 3d96701 changes the urls were still added to `pc_config.iceServers`, webrtc adatper support `urls` as array or string and when string add then to `url` as string.

Meaning that the iceServers where in use by the PeerConnection in the end.
This does not mean the fixes was not needed but that it was not causing issues in term of stun use in the end by the PeerConne

[2019-10-22 19:41] hthetiot commented on #15
_turnServers and _stunServers end up only been used by getStats also.

[2019-10-22 21:01] kakaroto commented on #15
Thanks for the fix!
Yes, I did notice that the pc_config was being sent as is, and that the `_turnServers` and `_stunServers` were irrelevant but I didn't know that the webrtc spec itself accepted 'urls' as a string.
Regardless, it needed to be fixed and thanks for taking care of it so quickly :) I'm currently implementing webrtc support in a VTT application and found easyrtc to be very easy to wo

[2019-10-24 07:19] gfreccia opened #19 "Your browser doesn't appear to support WebRTC"
Hi All,

I'm approaching to WebRTC.
I've installed the demo server, but when I try to connect to a demo app, with Firefox and Chrome, I've this error message:
_Your browser doesn't appear to support WebRTC._

I've Mint with Firefox 69 and Chrome 77.
I've another Mint installation working without errors.
What's the problem?

Thank you!

[2019-10-28 09:19] hthetiot commented on #19
I cannot help you much, if one install work and a other does not.
Do you have a camera on both ?

[2019-10-28 09:22] hthetiot commented on #19
Here is where the message come from:
- https://github.com/open-easyrtc/open-easyrtc/blob/7cb2ac275ce0ba893f3e7a9785b8f0d4b181b667/api/easyrtc_int.js#L2316

[2019-10-29 22:11] oividioscaeremos opened #20 "Changing between front and rear cameras without disconnecting and connecting?"
Hey people, I am working on a app where I need to change cameras whenever I want and the recording shouldn't be effected by it.

This is the code I'm using to change between cameras;

[code]

PerformCall function is this one (where I need to hangup the call in order to call with the changed camera source);

[code]

[2019-10-30 14:28] oividioscaeremos opened #21 "Bad Ice Candidate When Not Connected to the Same Wifi"
I have deployed my app on heroku and it launches without a problem. And works perfectly when I use my computer and phone to do a call when they're both connected to the same wifi. But when I disconnect from wifi on my phone on turn on data, it suddenly gives the error;

[code]

It doesn't work on demos either so I believe this is a problem with either easyrtc framework or the heroku itself.

Note:

[2019-11-10 10:41] hthetiot commented on #21
Do you have your own TURN server ?
- https://www.html5rocks.com/tutorials/webrtc/infrastructure/

[2019-11-10 10:43] hthetiot commented on #20
You need to renegotiate after remove existing stream and then add stream from other camera. Same as screenshare

[2019-11-10 10:48] hthetiot commented on #20
https://github.com/open-easyrtc/open-easyrtc/blob/master/api/easyrtc_int.js#L301

[2019-11-15 23:31] oividioscaeremos commented on #20
Thank you very much htheiot!

I've changed my changeCamera code into this and -although it takes a little longer than disconnecting/connecting again- it works just fine! Disconnecting would be a nice alternative but since I have to record every second of the conversation, it is kind of saddening.

[code]

[2019-11-15 23:31] #20 closed

[2019-11-15 23:37] oividioscaeremos commented on #21
That was a big ouch for me. And means that I have still a lot to achieve... Since we have to care about the privacy, I have to install an opensource turn server on a server and work with it. There are a few open source turn server libraries around, but installation is something I haven't figured out yet. Do you by any chance have any guides that explains the steps I need to follow? I'm on the sear

[2019-11-17 05:17] kakaroto opened #22 "clearMediaStream doesn't work in chrome"
Hi, I found another bug!
 `clearMediaStream`  doesn't work in chrome (and by extension, so does setVideoObjectSrc with a `null` stream).
The problem is that `clearMediaStream` checks if the element has a `src` field defined and then clears it, but `setVideoObjectSrc` checks for a srcObject first (and on chrome, we can't create a URL from a stream and we use `srcObject` instead of `src`).
I think t

[2019-11-17 05:25] kakaroto commented on #19
@gfreccia FYI: audio/video capture only works if you on https *or* using localhost. If you're trying the demo server on an address other than `localhost` and you haven't enabled SSL, then it won't work and will report that WebRTC isn't supported.
Note: actually, WebRTC is still supported, you could still connect and receive streams from others, you just can't capture from your own audio/video, so

[2019-11-17 05:29] kakaroto commented on #21
I'm not sure if it's a connectivity issue.
I've seen that error happen when both sides try to call each other. You try to make a call to someone who has already initiated a call, it's a race condition which causes both calls to fail. I solved it by doing a call only if the remote's `easyrtcid.localeCompare(self_rtcid) > 1`
The demos should have worked though so it could be a connection problem as

[2019-11-17 05:37] kakaroto opened #23 "crash when trying to enumerate devices over http"
`getSourceList` called by the `getVideoSourceList`, `getAudioSourceList` and `getAudioSinkList` calls `enumerateDevices` on `mediaDevices` without checking that `mediaDevices` exists. The `.catch()` is not helpful when there is no promise created. You should check for `navigator.mediaDevices && navigator.mediaDevices.enumerateDevices`  like you do with `supportsGetUserMedia`.

[2019-11-17 08:06] oividioscaeremos commented on #21
As it turns out, if you're connected to the same wifi, firewall let's you do whatever you want to do. Since both the origin and the destination are known as secure. But when you try to call someone who is connected to a different network, there's this problem with firewalls. And it can be exceeded by using a TURN server instead of a STUN server. I'm currently using [xirsys's](https://www.xirsys.co

[2019-11-17 17:57] hthetiot commented on #21
WebRTC 101 you need TURN in the real world.

I recommend coturn (see docker image https://github.com/instrumentisto/coturn-docker-image).

[2019-11-17 17:57] #21 closed

[2019-11-18 10:38] hthetiot commented on #22
This should fix the issue 866fa964b8a91fa8aa672a40f78829511052d732

[2019-11-18 10:38] #22 closed

[2019-11-18 10:41] hthetiot commented on #23
@kakaroto `supportsGetUserMedia` is made to check support for `getUserMedia` while `getSourceList` directly result in deviceList, I understand the issue. But what should be the `getSourceList` behavior in that case? call callback with empty results ? I think throw error is better in that case as it force the developer to handle the error. Tell me what you think.

[2019-11-18 10:41] #19 closed

[2019-11-18 10:44] hthetiot commented on #23
@kakaroto would you prefer this, instead of throw error ?
[code]

[2019-11-18 18:25] kakaroto commented on #23
Yes, that's exactly what I had intended, a check for enumerateDevices and a relevant message rather than a `cannot read property enumerateDevices of undefined` error.

I hadn't realized that in case of a an error, the callback never gets called. I would suggest a `callback([])` be called in both error cases because that would indeed cause my app to get stuck. Or actually better, throw a new except

[2019-11-19 09:55] gfreccia opened #24 "FYI: audio/video capture only works if you on https *or* using localhost."
@gfreccia FYI: audio/video capture only works if you on https *or* using localhost. If you're trying the demo server on an address other than `localhost` and you haven't enabled SSL, then it won't work and will report that WebRTC isn't supported.
Note: actually, WebRTC is still supported, you could still connect and receive streams from others, you just can't capture from your own audio/video, so

[2019-11-19 10:02] gfreccia commented on #24
Thanks for the answer!

But it's not completely clear for me what works and what doesn't work.
I've enabled SSL with _node server_ssl.js_ command.
Can I established audio connection between two browser on two different PC (no localhost)?
I've still the error messages when I try to accept the call!

[2019-11-19 19:49] kakaroto commented on #24
Make sure your chrome/firefox version supports the API (it should if it's recent enough) https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Browser_compatibility

Also read the privacy and security section :
https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Privacy_and_security

The "WebRTC not supported" error is when getUserMedia is undefined whic

[2019-11-20 14:51] hthetiot commented on #24
Thank you @kakaroto

@gfreccia This is normal behavior.

See: https://stackoverflow.com/questions/34197653/getusermedia-in-chrome-47-without-using-https

--unsafely-treat-insecure-origin-as-secure="http://example.com"
[code]

[2019-11-20 14:51] #24 closed

[2019-11-20 14:53] hthetiot commented on #24
@gfreccia  I dont understand why you created another issue https://github.com/open-easyrtc/open-easyrtc/issues/19#issuecomment-554706873 was pretty clear.

Instead reply in your existing issue next time even if closed.

[2019-11-20 14:54] hthetiot commented on #24
@gfreccia you will also need a TURN server for using WebRTC in the real world, based on your issues, I dont think you understand the full implication  of actualy using WebRTC fully.

https://github.com/open-easyrtc/open-easyrtc/blob/master/docs/easyrtc_server_ice.md#easyrtc-server-ice-configuration
https://www.html5rocks.com/tutorials/webrtc/infrastructure/

[2019-11-20 14:54] hthetiot commented on #23
Will make PR soon @kakaroto

[2019-11-20 14:55] hthetiot commented on #22
released in 2.0.5

[2019-11-23 03:57] kakaroto opened #25 "connect failure never fired"
The `connectToWSServer`  calls `io.connect` then listens to the 'error' event, which is never called in case of a connection error, so a wrong server path yiels to the errorCallback never being called.
Listening to the 'connect_error' is I believe the proper way to check for connection erros. However, if the socket is created with reconnection attempts, it will send a connect_error at each reconne

[2019-11-28 22:32] oividioscaeremos opened #28 "iOS Devices"
Hey, I've been getting "Your browser doesn't support webrtc" error on chrome on ios devices. I've read stuff on internet about apple devices' not supporting webrtc, is it true? It can't be since I tried on a mac before and it worked without problem(safari) but whenever I try to use my application on iphone 6s, chrome says its not supported and safari only sends black screen. I'm not sure what I ne

[2019-12-01 20:04] hthetiot commented on #28
EasyRTC work on safari on iOS properly alternatively you can use Cordova-plugin-iosrtc.

[2019-12-01 20:04] #28 closed

[2019-12-01 20:05] hthetiot commented on #28
iOS chrome does not support webRTC but safari iOS does.

[2019-12-01 20:05] hthetiot commented on #28
See:
- https://stackoverflow.com/questions/39790639/webrtc-support-on-chrome-browser-in-iphone-ipad

[2019-12-01 20:35] oividioscaeremos commented on #28
Thank you hthetiot for your reply. It's unfortunate Apple is a huge black-box.

[2019-12-01 20:41] hthetiot commented on #28
EasyRTC use feature detection of not supported it's because WebRTC API is not available that is that simple.

[2019-12-01 20:43] hthetiot commented on #28
It's more google Chrome people that are lazy and don't implement WebRTC in the webview it's quite easy i even did it myself with Cordova-plugin-iosrtc see https://github.com/cordova-rtc/cordova-plugin-iosrtc

[2019-12-01 20:50] oividioscaeremos commented on #28
Is it compatible with open-easyrtc or do I have to detect one's system and navigate to different pages? I'm pretty much all set-up with easyrtc so I don't really want to change all of my code right now.

[2019-12-22 20:18] oividioscaeremos opened #29 "Black Screen is Received from Peer when addStreamToPeerConnection Method is Used On Apple Device"
Question says it all.
I start the call with front camera. And I need to change it to back camera after a button click. I know that I can't use multiple camera streams on apple safari.

I'm using this method;
[code]

addStreamToPeerConnection()
[code]

The camera-source changes on Apple user since we're just changing the srcObject of the selfVideo video element. But the user on the other end does n

[2019-12-22 20:25] oividioscaeremos commented on #29
@hthetiot

[2019-12-31 15:21] #25 closed

[2020-01-05 11:27] hthetiot commented on #29
@oividioscaeremos after removing then adding the stream you need to renegotiate.

Same if you add a stream like for screenshare and webcam.

https://github.com/open-easyrtc/open-easyrtc/blob/master/api/easyrtc_int.js#L301

[2020-01-05 11:44] oividioscaeremos commented on #29
Unfortunately `easyrtc.renegotiate` doesn't work on Safari somehow. As soon as I change the camera stream from user side, all I see is a black screen on our side. The connection doesn't break but, the stream is not sent to the other side either.

[2020-01-05 14:36] hthetiot commented on #29
I just tested on Sylaps.com works for me. if you provide full sample i can may be see what is wrong.

[2020-01-05 14:50] hthetiot commented on #29
You will also need that fix and use `easyrtc.setVideoSource(deviceId)`:

[code]

[2020-01-05 15:03] hthetiot commented on #29
Pushed `getUserMediaConstraints ` fix on master:
- https://github.com/open-easyrtc/open-easyrtc/commit/923081a2b78f4d0c599d2f8358c07bdd63c9255b

Switch Camera should look something like that:

[code]

[2020-02-15 21:23] archasek commented on #6
Great @hthetiot, appreciate your work. Fingers crossed for the future.

[2020-03-13 16:21] paddyesch opened #32 "Using open-easyrtc client in Electron with nodeIntegration=true"
I'm evaluating the open-easyrtc client for use in Electron. When I set "nodeIntegration" to "false" in the BrowserWindow it works just like it would on a website (vanilla JS). However, I want to enable "nodeIntegration". With this I need to import the open-easyrtc client as Node.js module. The following steps were necessary.

(1) require("open-easyrtc"); does only import the server-side part, ther

[2020-03-20 09:31] hthetiot commented on #32
@paddyesch Yes we can split the client, that can be a good idea.

[2020-04-04 14:55] hthetiot commented on #32
We use Open-EasyRTC at Sylaps, none of the step you describe are required to make it work in Nodewebkit, that is similar to Electron (except Electron sucks ;)

[2020-04-04 14:57] hthetiot commented on #6
Priologic as deleted the easyRTC repository.

[2020-04-04 15:01] kakaroto commented on #6
I hope you set up a docs site before they take down this as well : http://www.easyrtc.com/docs/

[2020-04-04 15:45] hthetiot commented on #6
@kakaroto Work in progress here https://github.com/open-easyrtc/open-easyrtc/pull/33

[2020-04-04 16:56] hthetiot opened #34 "Open-EasyRTC logo"
We need a logo for Open-EasyRTC, I sucks at design :)

Here is 2 logo I'm willing to purchase for a budget of $50, please vote bellow for the logo you prefer.

1.
![1j+ojlxKOMkX9WyteRe4hGfWzqPesWIe21evs019NjJE41M1xC0uj](https://user-images.githubusercontent.com/8635/78456750-cf6e1180-76a5-11ea-83ae-bbe88c9fd8da.png)
2.
![1j+ojl1FOMkX9WypfBe43D6kifaDqRdLmBvIwXs1M3EMoAJtlSgrhvNt8](https://user-image

[2020-04-04 16:57] hthetiot commented on #6
Logo issue created here https://github.com/open-easyrtc/open-easyrtc/issues/34
cc @kakaroto

[2020-04-04 19:26] kakaroto commented on #34
Oh, it's hard. Both logos look nice! I would vote for the logo image from the bottom one, but I prefer the font/color/size of the 'Open-EasyRTC' text from the one above.
The lens in the first logo is somewhat unnerving, like I'm being surveilled, so maybe that's why I don't like it as much, otherwise, they both look good.

[2020-04-16 16:41] huzaifahj commented on #34
I echo comments above!

[2020-04-27 19:08] kakaroto opened #38 "easyrtc doesn't request permissions to capture video anymore"
A consequence of this commit :
https://github.com/open-easyrtc/open-easyrtc/commit/923081a2b78f4d0c599d2f8358c07bdd63c9255b

(even with the fixed typo from https://github.com/open-easyrtc/open-easyrtc/commit/220b8db723738bed5d163340f5d6f581c1c6eb4e)

My users have started complaining that it never asks for permissions to capture from the camera (audio doesn't seem affected by the change), tested o

[2020-05-04 22:08] TriStarGod opened #39 "Features"
Hi,
Just started playing with this software and loving it. I wanted to know if it supports

- Server-side recording
- Active speaker
- Transcription
- SIP integration

Also, I created server_spdyhtml2.js for server_example. Should I create a PR for that?

[2020-05-06 02:35] TriStarGod commented on #39
The more I read about this open-easyrtc, the more I think this is not an SFU. I was looking for a combination TURN / SFU that runs on nodejs and can be easily hosted on heroku.

[2020-05-06 06:43] kakaroto commented on #39
yeah, this only takes care of the signalling to setup the RTCPeerConnection, it doesn't include TURN or an SFU or anything like that.

[2020-05-06 07:48] hthetiot commented on #38
You want me to rollback @kakaroto ?

[2020-05-06 07:50] hthetiot commented on #39
@TriStarGod
- Server-side recording: No
- Active speaker: Can be done with getStats
- Transcription: Can be done using tensorflow on MediaStream
- SIP integration: This is not EasyRTC role use https://jssip.net/ it's made for that.
- TURN: This is not EasyRTC role use CoTurn
- SFU:  This is not EasyRTC role use Korento, Jitsi, etc...

[2020-05-06 07:51] #39 closed

[2020-05-06 07:55] hthetiot commented on #38
98b23d7886317dc5cf548231629810e46e38609e

[2020-05-06 07:55] #38 closed

[2020-05-06 07:59] kakaroto commented on #38
Yep, thanks!

[2020-05-06 12:41] TriStarGod commented on #39
@kakaroto @hthetiot Thanks for your input. I had my sample app working with Mediasoup and node-turn but I wanted to make it all work on Heroku (port issue). Hoped open-easyrtc would be a alternative but I guess not. Droplets, here I come.
Again, great project!

[2020-05-06 14:32] hthetiot commented on #39
Mediasoup is great. EasyRTC can work with Mediasoup and any MCU it's just a matter of using server even to manipulate SDP

[code]

[2020-05-16 15:26] davexoyinbo opened #40 "Failed to execute 'createObjectURL' on 'URL': No function was found that matched the signature provided."
I keep getting
Uncaught TypeError: Failed to execute 'createObjectURL' on 'URL': No function was found that matched the signature provided.
at Easyrtc.createObjectURL (easyrtc.js:4152)
    at Easyrtc.setVideoObjectSrc (easyrtc.js:4618)
    at onUserMediaSuccess (easyrtc.js:4872)

[2020-05-20 12:13] hthetiot commented on #40
How do you use setVideoObjectSrc exactly ?
Do you pass the MediaStream as a second argument ?

Note: This working properly for me, it's most likely an issue on your usage of easyrtc.

[2020-05-21 20:20] davexoyinbo commented on #40
It's now working. It was a setup issue
Thanks

[2020-05-21 20:20] #40 closed

[2020-05-21 20:21] davexoyinbo opened #41 "How do I set metadata on each user or easyrtcid"
How do I set metadata on each user or easyrtcid

[2020-05-22 16:44] hthetiot commented on #41
See:
- https://github.com/open-easyrtc/open-easyrtc/blob/master/api/easyrtc_int.js#L1507
- https://github.com/open-easyrtc/open-easyrtc/blob/master/docs/easyrtc_server_msgtypes.md#msgtype---setroomapifield

Example:
[code]

[2020-05-23 20:41] #41 closed

[2020-06-02 07:34] crimson589 opened #42 "desktop capture plugin"
The demo for desktop capturing says a plugin is required to be installed in chrome in order to screen share, however the link to the plugin is dead.

I also can't find anything in the chrome web store for something called screen-capturing? is there a new link? or is this feature dead for now?

[2020-06-02 12:05] nguereza-tony commented on #42
please try this link: [https://chrome.google.com/webstore/detail/screen-capturing/hccmdbhopgjapkajcmdegkpplnahngnl](https://chrome.google.com/webstore/detail/screen-capturing/hccmdbhopgjapkajcmdegkpplnahngnl)

[2020-06-16 12:19] hthetiot commented on #42
You dont need plugin, you can simply use  navigator.mediaDevices.getDisplayMedia and easyrtc.register3rdPartyLocalMediaStream.

https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getDisplayMedia

Example:

[code]

[2020-06-17 11:02] hthetiot opened #44 "Update CI with test easyrtc server"

[2020-06-17 11:13] #29 closed

[2020-06-17 11:13] #32 closed

[2020-06-17 11:13] #14 closed

[2020-06-17 11:13] #6 closed

[2020-06-17 11:17] hthetiot commented on #4
Proposed new Licence.
See "https://opensource.stackexchange.com/questions/217/what-are-the-essential-differences-between-the-bsd-and-mit-licences"
[code]

[2020-06-18 13:33] i5o commented on #34
IMO the 1 is more attracting :)
I've been using openeasyrtc for a few months now. It's all cool.

First also reminds me of the Google Photos logo, thats why I may like it

[2020-07-30 20:19] kylebakerio opened #47 "How to enable echo cancellation?"
Mozilla tells me the process [looks like this](https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamConstraints/audio):

[code]

But looking through source, I don't see that as an option anywhere, nor a way that it is exposed to add these options.

[code]

I do see

[code]

at the top of `getUserMediaConstraints`, but instead of enabling composing an option in, it will block execution of th

[2020-07-30 20:21] kylebakerio commented on #42
the demo should probably be updated, no?

[2020-07-30 20:42] kakaroto commented on #47
You can probably just use this if you want custom constraints :
[code]

[2020-07-30 20:55] kylebakerio commented on #47
Will that not prevent the rest of that function from running? Will that not be a problem? Do I then need to make sure I'm handling all the logic there myself (for per-browser specification, and later for video stuff if I add that)?

And where should I declare this--in the global scope right after declaring easyrtc I presume?

[2020-07-30 20:58] kakaroto commented on #47
yes, you'd handle it yourself, you either use what the API provides or you build your own custom constraints, can't have it both ways. And you declare it where you would usually do the enableAudio/enableVideo, after easyrtc library is loaded of course.

[2020-07-30 21:05] kylebakerio commented on #47
Sure, it would just be nice if instead of overwriting, I could compose in flags like this. It would be pretty easy to implement that way. As it's written, it's very tempting to just fork it, because otherwise I'll probably be copy/pasting the existing functionality and just adding my one little flag.

Would a pull request to modify this functionality be welcome?

[2020-07-30 21:15] kylebakerio commented on #47
Looking through it more--what about having a

`easyrtc.enableAEC([bool])` (audio echo cancellation) feature added?

[2020-07-30 21:23] kakaroto commented on #47
Leaving that up to @hthetiot
I'd personally like the enable audio/video to have an argument for extra parameters that get merged into the constraints object, so something like :
[code]

[2020-07-31 01:19] kylebakerio commented on #47
@kakaroto yeah, that's exactly what I mean by composition. That'd be ideal.

[2020-07-31 02:19] kylebakerio commented on #47
Would a pull request for that be accepted, @hthetiot?

[2020-07-31 12:28] hthetiot commented on #47
Sure @kylebakerio

[2020-07-31 12:30] hthetiot commented on #42
@kylebakerio yes it should, We can also add easyrtc.getDisplayMedia for example.

[2020-08-09 02:31] kylebakerio opened #48 "onaddstream is deprecated"
Getting this error in FF:

`onaddstream is deprecated! Use peerConnection.ontrack instead. open-easyrtc.js:9435`

[2020-08-19 11:52] danldsk opened #49 "Using library in Android/iOS App with Ionic and Angular"
We want to use your library for some features in our mobile app both on Android and iOS.
The app is build with Ionic 4 and Angular 9 and is written in Typescript.
I can't find any information if our team could use your library in this case.
I've seen that the Priologic team once build a beta for typescript support but it kinda never worked with higher versions of angular.
Can you help me out?

[2020-10-07 08:47] linh-gist opened #50 "Does EasyRTC API support for Python and Android?"

[2020-10-14 10:41] pranjalisnow opened #52 "Unable to switch cameras"
Hi,

Using the following code to try to switch cameras on mobile.

`
function switchMedia2() {
	//let stream = $("selfVideo")[0].srcObject;  // throws undefined error
	let stream = easyrtc.getLocalMediaStreamByName();
	let tracks = easyrtc.getLocalStream().getTracks();
	tracks.forEach((t) => {
		stream.removeTrack(t);
		stream.addTrack(tracks(1));
		window.alert("IN");
	});
	window.alert("OUT");

[2020-10-16 12:21] pranjalisnow commented on #20
Know this is an old post.

But, what is "frontMediaStreamTrack" & how does one set it?

Could anyone help?

[2020-10-16 13:27] pranjalisnow commented on #52
Had tried one more function.
Didn't work...

`function switchMedia() {
	easyrtc.getVideoSourceList( function(list) {
		var i;
		var str;

        var streamName = "PK_" +  localStreamCount;
        localStreamCount++;

		if (pkcamera == "Facing back") {
			pkcamera = "Facing front";
		} else {
			pkcamera = "Facing back";
		}

		for( i = 0; i < list.length; i++ ) {
			console.log("label=" + list[i

[2020-10-30 07:16] pranjalisnow commented on #52
Hi,

I keep getting an error "removeStream is deprecated, please use removeTrack instead.",
while using "easyrtc.removeStreamFromCall(otherEasyrtcid, "");"

Can anyone help?

[2020-12-14 17:07] garlofrank opened #55 "docker-compose.yml install error on npm install"
Hi everyone.

I have tried to install the server example with docker compose and got an error

`npm notice`
`npm notice New minor version of npm available! 7.0.15 -> 7.1.2`
`npm notice Changelog: <https://github.com/npm/cli/releases/tag/v7.1.2>`
`npm notice Run `npm install -g npm@7.1.2` to update!`
`npm notice `
`npm ERR! code EISDIR`
`npm ERR! syscall copyfile`
`npm ERR! path /usr/local/lib/node

[2020-12-14 17:26] garlofrank commented on #55
I have commented out the line for npm update in the Dockerfile and now I am getting another error.

`npm ERR! code 128`
`npm ERR! command failed`
`npm ERR! command git ls-remote ssh://git@github.com/priologic/easyrtc.git`
`npm ERR! Host key verification failed.`
`npm ERR! fatal: Could not read from remote repository.`
`npm ERR! `
`npm ERR! Please make sure you have the correct access rights`
`npm

[2020-12-17 15:05] hthetiot commented on #55
should be fixed by https://github.com/open-easyrtc/open-easyrtc/commit/c1e3424c8a5de81ded6740b7a358c19cecb411ab#diff-33c410c95690d1f329c93ce7e9e6ad4e89ed63c114b3943faed7ddc42ad53147

[2020-12-17 15:05] #55 closed

[2020-12-17 15:06] hthetiot commented on #50
Why not, its Websocket Signaling you can sockect to socket.io in many languages:
- https://python-socketio.readthedocs.io/en/latest/
- https://socket.io/blog/native-socket-io-and-android/

On android you can also use WebView, I have see people implementing EasyRTc protocol in Objective C# and even Swyft.

[2021-01-13 23:00] #23 closed

[2021-01-13 23:00] #52 closed

[2021-01-13 23:01] #50 closed

[2021-01-13 23:01] #44 closed

[2021-01-26 21:13] hthetiot commented on #4
https://github.com/signalwire/freeswitch/blob/3afa604acd0b2b5948b1330c944f8165d4cdb07c/src/switch_speex.c#L1-L32

[2021-02-12 07:07] PulkitAgg opened #61 "How to setup easyrtc server with nginx?"
I am trying to deploy my easyrtc server with Nginx.

This is my Nginx config

[code]

Whenever our android or ios client tries to connect with our server. Nginx sending them 502 error and I am also attaching the logs for this

[code]

I am assuming our node server is not responding to the stream. Can anyone check this and help me out to solve this error.

[2021-02-17 03:18] girijeshkumar2007 opened #62 "Native Android and iOS Support"
We want to use your library for some features in our mobile app both on Android and iOS.
The app is written in java and swift respectably.
I can't find any information if our team could help in this case?

[2021-02-26 13:01] hthetiot commented on #62
@girijeshkumar2007 see https://github.com/cordova-rtc/cordova-plugin-iosrtc

Many have simply implemented easyrtc socket.io protocol and used native WebRTC also in java ans swift or objective-c.

[2021-02-26 13:02] #62 closed

[2021-02-26 13:32] hthetiot commented on #61
I'm not sure what is the difference but some of my nodes behind nginx look something like this, up to you to look for differences.

This days i use traefik.io
- https://doc.traefik.io/traefik/getting-started/configuration-overview/

[code]

[2021-02-26 13:32] #61 closed

[2021-02-26 13:40] hthetiot commented on #4
I think based on some research and when I asked people with more knowledge that the licence can be updated like that:

[code]

Let me know you thought here.

[2021-03-19 23:15] nilopaim opened #63 "How to use open-easyrtc in a Vuejs or Quasar project?"
I've made a `npm install --save open-easyrtc` on my project.

On a Vuejs page I have

`import easyrtc from "open-easyrtc";
export default {
  mounted() {
    var selfEasyrtcid = "";
    connect();
    function connect() {
      easyrtc.setVideoDims(640, 480);
      easyrtc.setRoomOccupantListener(convertListToButtons);
      easyrtc.setSocketUrl("//localhost:8443");
.
.
.`

And got the following e

[2021-03-23 14:29] hthetiot commented on #63
not sure, did you configure open-easyrtc as commonjs module ?

[2021-03-23 19:47] nilopaim commented on #63
Not sure how to configure open-easyrtc inside a Quasar project.

My first try was install using npm and import it on my pages, but everything did till now doesn't work. Probably I'm missing some basic point here.

If you can point me to the right direction I appreciate.

[2021-03-23 19:58] hthetiot commented on #63
Example web pack config that works for me:

[code]

[2021-03-23 20:41] nilopaim commented on #63
I will try this, sir.

Thanks a lot for your help, @hthetiot.

[2021-04-05 23:07] #63 closed

[2021-05-30 18:51] aaclayton opened #69 "Apparent incompatibility with newer versions of the socket.io-client library [4.1.1]"
## Relevant Versions
* Node.js 14.15.1
* open-easyrtc 2.0.9
* socket.io-client: 4.1.2

## Description of Issue
`open-easyrtc` appears to have been written with socket.io-client version 2.4.0 in mind. The latest version of this package is `4.1.2` and it appears to no longer be compatible with the client API provided by `open-easyrtc`.

The easyrtc library expects to either call `io.connect` to esta

[2021-06-30 12:34] hthetiot commented on #69
Thank you @aaclayton i plan to update to latest socket.io when i have time.
PR are welcome.

[2021-06-30 13:08] aaclayton commented on #69
Thanks @hthetiot. I looked into solving the problem myself and submitting a merge request, but the changes to the client library seemed to be more extensive than I was comfortable attempting on my own without being familiar with the code base. Hopefully it's simpler than I realized.

[2021-06-30 14:11] hthetiot commented on #69
@aaclayton feel free to send a draft PR even if not finalized.

In any case i will try to address the migration to new socket.io in the coming week. This will be a breaking change if people use socket.io internally for other than easyrtc meaning it will be a major increments on version.

[2021-06-30 15:43] hthetiot commented on #69
@aaclayton I did the migration of client and server to socket.io 4+ in this PR:
- https://github.com/open-easyrtc/open-easyrtc/pull/70

So fare all the samples works, if you can test and we may release in near future.

[2021-06-30 15:47] aaclayton commented on #69
I will try and take a look later this week if I can, unfortunately I'm a bit overloaded with work at the moment so I hope others can also help to test in the meantime. I'll let you know once I have a chance to pull and look.

[2021-06-30 22:41] hthetiot commented on #69
thx @aaclayton i tried the demos and they still works.

[2021-07-22 10:09] hthetiot commented on #69
See #70 for testing socket.io 4+

[2021-08-18 02:30] alextapia007 opened #72 "firebase"
can install in firebase?

[2021-09-06 11:29] hthetiot commented on #72
I don't see why you couldn't install firebase, we will not use firebase on easyrtc, the main reason is most of firebase deployment are unsecured and it's useless to implement firebase inside easyrtc. If you want to persist room in firebase their is plenty of hook on event for that in open easyrtc.

[2021-09-06 11:29] #72 closed

[2021-09-06 11:31] hthetiot commented on #69
@aaclayton can you test the PR, if all good i will release butt increment major version number so users don't get issue on upgrade.

[2021-09-08 09:40] jimver04 opened #73 "Send as MediaStream the canvasCtx.captureStream(FrameRate)"
Instead of video stream can I send the captured canvas ?

[code]

where 30 is the frame rate for capturing the canvas.
My canvas has also transparent pixels, will they be transferred as transparent ? In which line should I set it ?
Can you support it in the next version ?

Best,
Dimitrios Ververidis @ MediaVerse project

[2021-09-09 12:55] hthetiot commented on #73
See my reply here https://github.com/networked-aframe/networked-aframe/issues/269#issuecomment-916065095

This is not at all an open-easyrtc issue just a network-aframe api limitations and integration.
Not sure what "test" you did to make you conclusion.

[2021-09-09 12:55] #73 closed

[2021-09-09 12:57] hthetiot commented on #73
No captureStream will render black on transparent canvas that how video works transparent video does not exist and the fact you even think it's possible made me laugh.

[2021-09-10 14:49] vincentfretin commented on #73
I did some search, transparent webm videos exists, more like a hack to the VP8/VP9 codec and is implemented in Firefox and Chrome, see https://developers.google.com/web/updates/2013/07/Alpha-transparency-in-Chrome-video
But there may be limitations to `canvas.captureStream`, `MediaRecorder`, and `RTCPeerConnection` API. Even if you manage to create a transparent video from the canvas, you will app

[2021-09-10 17:09] hthetiot commented on #73
Personally I don't use VP8 o VP9 for WebRTC, H265 and H264 are much better.

[2021-09-11 07:47] jimver04 commented on #73
I know that alpha channel passes as black through WebRTC. This guy from Google (samdutton) has did what I want for another WebRTC implementation (WebRTC implementations everywhere)

https://webrtc.github.io/samples/src/content/capture/canvas-pc/

My future steps are
1) transfer this example to work with Open-EasyRTC

2) Then, draw green pixels on the video background (found with Mediapipe before s

[2021-09-11 14:53] hthetiot commented on #73
This example only capture canvas and pass it as a stream, nothing that cannot be done today with open-easyrtc, it does not make anything regarding transparent video. Removing green pixel is not the same as transparency and will most likely left green artefacts and what if i where a green shirt?
In any case that have nothing to do with open easyrtc scope and we already support canvas capture out of

[2021-11-28 19:25] benryves opened #74 "socket.io doesn't return Access-Control-Allow-Origin header when Origin header is sent so can't use EasyRTC across domains"
I have a PHP application that I'd like to use EasyRTC with for real-time video chat. According to the [docs](https://github.com/open-easyrtc/open-easyrtc/blob/master/docs/easyrtc_with_other_servers.md) this should be possible. I followed the instructions in the documentation, but when I try the `demo_audio_video_simple.html` demo on the PHP-based site I'm having CORS problems with requests to `/so

[2021-11-28 23:46] benryves commented on #74
After much inexpert fumbling I seem to have got something working. I'm not entirely sure where the issue is originating (Socket.IO, Node.JS, Phusion Passenger, LiteSpeed, cPanel...) so any clarification would be appreciated!

In my environment I need an `app.js`, previously I'd created this by duplicating `server.js` but I've now created a symlink instead (`ln -s server.js app.js`) which seems to

[2021-12-26 14:53] hthetiot commented on #74
I will take a look when I have a moment, I have CORS working in production, but i think i have passed Socket.io parameters to use Websocket transport only to solve that.

[2022-01-10 11:24] hthetiot commented on #74
[code]

Your fix is valid, will add to sample server.

[2022-01-10 11:24] #74 closed

[2022-01-10 11:34] hthetiot commented on #74
See https://github.com/open-easyrtc/open-easyrtc/commit/b78ccc5c68ceb7170069643a5129460ba6d19992#diff-5df089885a85c4b794c3f09be9ab04c105ff7bb08235ff07d7247cc59ec9d111

[2022-01-10 11:37] #42 closed

[2022-01-10 11:37] hthetiot commented on #47
[code]

[2022-01-10 11:37] #47 closed

[2022-01-10 11:58] benryves commented on #74
Brilliant, thank you very much for investigating and confirming the solution!

[2022-01-10 23:56] hthetiot commented on #74
@benryves you did all the work :)

[2022-03-22 18:27] IgorNovozhilov commented on #69
@hthetiot What are the future plans for the release of this fix?

[2022-03-23 11:16] hthetiot commented on #69
@IgorNovozhilov i was waiting for feedback, i think i will increment version to 3.x to prevent breaking people that also use socket.io internally.

Will close this issue once released.

[2022-03-29 09:01] ptlong1 opened #82 "2 clients call the same time cause error."
So if 2 client call the same time, no one can hear each other. I try to use getConnectStatus but it's no use. Demos get similar error.

[2022-03-29 11:02] ptlong1 commented on #82
So I just check demo_multipary and it has a cool way to handle this. Just setRoomOccupantsListenere(null) to just call it once.

[2022-05-06 09:32] hthetiot opened #86 "Fix code scanning alert - Insecure randomness"
Tracking issue for:
- [ ] https://github.com/open-easyrtc/open-easyrtc/security/code-scanning/21

[2022-05-06 09:35] hthetiot commented on #86
issue is from webrtc-adapter -> sdp sub package.
- https://github.com/otalk/sdp/blob/dcfe5545a67a06dddc36c199770dac2740e4ecdc/sdp.js#L689

[2022-05-06 09:35] #86 closed

[2022-06-05 12:51] Vesper-0407 opened #88 "A BUG in RTCPReport statistics"
I am checking this demo `https://xxxx/demos/demo_statistics.html` and try to get statics per second as the code intended to do, however, when I open 2 tabs in the browser and click 'connect' , it fails to collect the data and console like this:
[code]
I check the source code and find out that the stats is the instance of RTCPReport and has some attributes and methods, but `result()` function is no

[2022-06-06 03:24] Vesper-0407 opened #89 "A Mistake in the code comments"
When I go through the code `demo_ice_filter.js`, I see a mistake while commenting on the function `iceCandidateFilter`,where different types of sdp are separated.
[code]
Maybe they should be `stun` and `local`

[2022-07-12 15:02] hthetiot commented on #89
relay = turn
srflx = stun
host = local

[2022-09-07 03:47] hobson42 opened #91 "socket.io removed "attach" and "listen" in version 4.4.1 so all examples fail"
The example I am using contains the following two lines.

[code]

This results in the error that socketio has no function listen.  Replacing listen with attach, results in a similar error.

Note the docs for socket.io claim both still exist - see https://socket.io/docs/v4/server-api/#serverattachhttpserver-options
and https://socket.io/docs/v4/server-api/#serverattachhttpserver-options.

[code]

[2022-10-05 06:55] interbr opened #93 "Some user experience"
Hey there, I am using open-easyrtc for audio and messages and I want to share the experience for to know something more maybe about what can be improved.
So if I use 2.0.15 as a starting point, I can get it to work. Propably I lack expertise on node to decently give some information. To me it seems the connection is attempting to use wss:// in the first place in my setup and then switches to https

[2022-10-08 12:31] #93 closed

[2022-10-10 18:57] Denschik opened #94 "Easyrtc + Nuxt.js"
Did somebody try to deploy easyrtc with Nuxt project?

[2022-11-20 19:31] DjoleDzele opened #97 "Auto answering help needed (+ sending messages from server to clients)"
First thank you for awesome tool, i'm currently looking through code and finding "audio only" demo very useful for my scenario, but maybe you could point me in right direction about what i had in mind, basically im planing on using open-easyrtc in such way that it will be connection with 1 raspberry pi (which will be server), and 10-15 other computers, all in local network. basically i would need

[2022-11-22 15:02] hthetiot opened #99 "Implement multi easyrtc server support"
See https://github.com/socketio/socket.io-redis-adapter

[2022-11-22 15:44] hthetiot commented on #91
For using Socket.io 4+ See PR https://github.com/open-easyrtc/open-easyrtc/pull/70

[2022-11-22 15:44] #94 closed

[2022-11-22 15:46] hthetiot commented on #94
Its Javascript, nothing Special to do, to import in TS you can simply do

[code]

TypeScript support is for next major update even if there is already some in  this repository.

[2022-11-22 16:11] krneticz opened #101 "Easyrtc clients in a call get dissconnected when the server is rebooted"
When you have two peers in a call and you reboot the server call gets disconnected, and it should not since it's P2P.

[2022-11-22 16:16] hthetiot commented on #99
- https://www.hackerearth.com/practice/notes/lalitkhattar/load-testing-easyrtc-1/
- https://go.ably.com/akk
- https://ably.com/topic/scaling-socketio

[2022-11-22 18:26] krneticz commented on #97
@DjoleDzele, you should use usernames instead of temporary ids to filter and auto-accept calls. Use easyrtc.setUsername(username) to set a permanent username for the clients. After that, use easyrtc.setAcceptChecker  and accept (or reject) the call automatically based on the caller's username. Hope this helps!

[2022-11-22 19:05] DjoleDzele commented on #97
I'll look into that thank you, i was thinking to try using some kind of query string in URL to set server id to always be the same based on it, and for clients to stay random numbers as they are now, since they will only be calling server and not each other either way, but that might be helpful ill try it

[2022-11-24 09:42] krneticz commented on #99
I've tried to use socket.io-redis as an adapter with easyrtc example server, but it did nothing. Before I detail that attempt, I will describe a successful simple test where I used the socket.io redis adapter to enable the socket.io sample chat app to run multi-instance.

**Successful modification of the socket.io chat-example to support multi-instances**

1. Check out https://github.com/socketio/

[2022-11-24 10:35] hthetiot commented on #99
Thank you @krneticz, I know why instances dont see each other. That because easyrtc nodejs instance in memory object to store states. To solve this I will create an adapter layer and use socket.io room to store room states and also use socket.io to store socket connections states.

[2022-11-24 18:12] DjoleDzele commented on #97
I managed to work it out following your suggestions, basically since the browser on RPI is the only one that should be receiving calls and also auto answering them, i added ID query parameter only to RPI's browser url address, to differentiate it from clients which have no query params, then inside `demo_audio_only.js` file i added function `easyrtc.setUsername("id from query");`, and then i use e

[2022-11-25 10:54] krneticz commented on #97
There are two ways to go about this. You can catch easyrtcCmd events on the server and specifically look for msgType "answer" and "hangup" to catch established calls and then emit info about the call to all clients in the room. Another option is to catch call start and end events from the client side and send peer messages to all other peers in the room.

On the server:

[code]

Use connectionObj.

[2022-11-25 14:42] DjoleDzele commented on #97
Great, i think this will be it! Thanks for big help!